experiment/datasets
experiment/datasets/DGraphFin

experiment/run/Roland/graphgym
experiment/run/Roland/run/runs_roland_example_run/*
experiment/run/APAN/data/*
experiment/run/APAN/res/*
experiment/run/CAW/processed/*
experiment/run/CAW/res/*
experiment/run/DySAT/raw_data/*.npy
experiment/run/DySAT/raw_data/*.csv
experiment/run/DySAT/data/*
experiment/run/DySAT/logs/*
experiment/run/DySAT/utils/__pycache__/*
experiment/run/EvolveGCN/data/*.csv
experiment/run/EvolveGCN/data/raw_data/*.
experiment/run/EvolveGCN/data/raw_data/*.csv
experiment/run/EvolveGCN/data/raw_data/*.npz
experiment/run/TGAT/processed/*
experiment/run/TGAT/res/*
experiment/run/TGAT/__pycache__/*
experiment/run/TGL/DATA/*
 experiment/run/TGL/models/*
  experiment/run/TGL/res/
experiment/run/TGN/data/*
experiment/run/TGN/res/*
experiment/run/Roland/roland_public_data/*
experiment/run/Roland/run/res/*
experiment/run/Roland/run/results/*
experiment/run/SPEED/data/*
experiment/run/SPEED/partition/data/*
experiment/run/SPEED/partition/divided_nodes_seed/*
experiment/run/DistTGL/minibatches/*
experiment/run/DistTGL/__pycache__/
experiment/run/DistTGL/models/*
experiment/run/DistTGL/res/*
experiment/run/TGAT/__pycache__/*
experiment/run/TGAT/log/*
experiment/run/TGAT/saved_checkpoints/*
experiment/run/TGAT/saved_models/*
experiment/run/DyGLib/res/*
experiment/run/DyGLib/processed_data/*
experiment/run/TGLite/examples/data/*
experiment/run/TGLite/res/*
experiment/run/TGLite/test.sh
experiment/run/TGLite/models/*

experiment/run/EvolveGCN/res/*
experiment/run/EvolveGCN/__pycache__/*

!experiment/run/APAN/data/.gitkeep

!experiment/run/TGL/DATA/.gitkeep

!experiment/run/Roland/roland_public_data/.gitkeep

!experiment/run/TGN/data/.gitkeep

!experiment/run/SPEED/data/.gitkeep
!experiment/run/SPEED/partition/data/.gitkeep
!experiment/run/SPEED/partition/divided_nodes_seed/.gitkeep

!experiment/run/TGAT/processed/.gitkeep

!experiment/run/CAW/processed/.gitkeep

!experiment/run/DySAT/data/.gitkeep

!experiment/run/DistTGL/minibatches/.gitkeep
!experiment/run/DistTGL/models/.gitkeep

!experiment/run/DyGLib/processed_data/.gitkeep